
.icon-nm-ico:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-lego:before { content: '\e802'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */